body {
	font-family: 'Roboto', sans-serif;
	color: #434455;
	background-color: #fff;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
.logo {
	font-family: 'Raleway', sans-serif;
	color: #4d5ae5;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.header-logo .logo-part {
	color: #2e2f42;
}
.footer-logo .logo-part {
	color: #f4f4fd;
}
.nav-link {
	color: #2e2f42;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.contacts {
	font-style: normal;
}
.contacts-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
	color: #404bbf;
}
.main {
}
.main-intro {
	background-color: #2e2f42;
}
.main-intro-title {
	color: #fff;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
}
.main-intro-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
}
.main-services {
}
.main-services-title {
}
.main-services-list {
}
.main-services-list-item {
}
.main-services-list-title {
	color: #2e2f42;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}
.main-services-list-text {
	color: #5b5b6a;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.main-our-team {
}
.main-our-team-title {
	color: #2e2f42;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
}
.main-our-team-list {
}
.main-our-team-item {
}
.main-our-team-image {
}
.main-our-team-subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}
.main-our-team-specificity {
	color: #4f5060;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.main-portfolio {
}
.main-portfolio-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
}
.main-portfolio-list {
}
.main-portfolio-list-item {
}
.main-portfolio-image {
}
.main-portfolio-subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}
.main-portfolio-text {
	color: #434455;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.page-footer {
	background-color: #2e2f42;
}
.footer-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #dbdbe6;
}
